body {
  background-color: #feffff;
  color: black;
  width: 300px;
  height: 400px;
  margin: 0;
  font-size: 14px;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

.page {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80%;
  border: 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 20px 20px 20px;
  background-image: linear-gradient(
    109.6deg,
    rgba(254, 182, 40, 1) 1.8%,
    /* Primary color */ rgba(255, 210, 119, 1) 50.6%,
    /* Lighter shade */ rgba(255, 237, 195, 1) 100.3% /* Lightest shade */
  );
  color: black;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#options_button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  background: none;
}

#options_button img {
  width: 100%;
  height: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#terms {
  font-size: 0.95em;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  flex: 1;
}

.setup_option {
  flex: 1;
}

#mnemonic {
  width: 80%;
  flex: 1;
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: text;
}

#sent_txid {
  width: 80%;
  font-size: 1.3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: text;
  padding: 15px;
  word-break: break-all;
  background-color: white;
}

textarea {
  width: 80%;
  font-size: 1.3em;
  flex: 1;
  margin-bottom: 20px;
  resize: none;
}

#header {
  background-image: linear-gradient(
    67.2deg,
    rgba(255, 202, 67, 1) -7.5%,
    /* Slightly darker shade */ rgba(254, 182, 40, 1) 62.7% /* Primary color */
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.header_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer {
  display: flex;
  align-items: center !important;
}

#page {
  color: black;
}

#address {
  font-size: 0.8em;
  flex: 1;
  padding: 10px;
}

#copy_address_button {
  border-radius: 0;
  background-size: contain;
  background-image: url(images/copy_to_clipboard.png);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}

#options_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#doginals {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: safe center;
  justify-content: safe start;
  flex: 1;
  width: 100%;
  overflow: auto;
}

.doginals_row {
  padding: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.pending {
  color: #333;
  margin-bottom: 15px;
}

.doginal {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px;
  border-radius: 10px;
  width: 120px;
  height: 80px;
  background-image: radial-gradient(
    circle 957px at 8.7% 50.5%,
    rgba(254, 182, 40, 1) 0%,
    /* Primary color */ rgba(255, 210, 119, 1) 90% /* Lighter shade */
  );
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.doginals_row_spacer {
  width: 5px;
}

#view_doginal_page {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

#doginal_content {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  width: 150px;
  height: 150px;
  background-image: radial-gradient(
    circle 957px at 8.7% 50.5%,
    rgba(246, 191, 13, 1) 0%,
    rgba(249, 47, 47, 1) 90%
  );
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  padding: 15px;
  border: 1px;
  border-radius: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#doginal_send_button {
  margin-bottom: 0;
}

#doginal_inscription_id {
  font-size: 0.5em;
}

.inscription_text {
  text-align: left !important;
  align-items: start !important;
  justify-content: start !important;
}

#error_page {
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  padding: 0;
  margin: 0;
  width: 100%;
}

#error_message {
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 80%;
}

#doginal_inscription_number {
  color: #555;
  cursor: pointer;
  text-decoration: underline;
}

#doginal_inscription_id {
  color: #555;
}

input[type="text"] {
  width: 200px;
  border-radius: 20px;
  border: 1px solid #fea042;
  color: #000000;
  height: 30px;
  padding-left: 10px;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #fea042;
  color: #000000;
}
